{% extends 'layout.html' %}
{% block title %}
Semi Single Page | Home Page
{% endblock %}
{% block css %}
<base href="/dashboard/">
<link href="../css/dashboard.css" rel="stylesheet">
<!-- IE required polyfills, in this exact order -->
<script src="../libs/es6-shim/es6-shim.min.js"></script>
<script src="../libs/systemjs/dist/system-polyfills.js"></script>
<script src="../libs/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
<script src="../libs/angular2/bundles/angular2-polyfills.js"></script>
<script src="../libs/systemjs/dist/system.src.js"></script>
<script src="../libs/rxjs/bundles/Rx.js"></script>
<script src="../libs/angular2/bundles/angular2.js"></script>
<script src="../libs/angular2/bundles/router.dev.js"></script>
{% endblock %}
{% block content %}
    <my-app>Loading...</my-app>
{% endblock %}
{% block js %}
<script>
    System.config({
    baseURL: '/',
    map: {
        angular2: '../libs/angular2',
        rxjs: '../libs/rxjs'
    },
    packages: {
        app: {
            format: 'register',
            defaultExtension: 'js'
        },
        angular2: {
            defaultExtension: 'js'
        },
        rxjs: {
            defaultExtension: 'js'
        }
    }
});
System.import('app/boot')
    .then(null, console.error.bind(console));
    </script>
{% endblock %}